h2.subHeadclass-2{
    font-size: 30px;
    margin-top: 70px;
    font-weight: lighter;
    /* width: fit-content; */
    text-align: center;
    background-color: #acace3;
    margin-bottom: 30px;
  }